<div class="col-md-10 col-md-offset-1">
	<div class="new-review-form">
		<h1>Comment</h1>
		<%= simple_form_for ([@album, @photo, @comment]) do |f| %>
			<%= f.input :body, label: Comment, input_html: {class:'form-control'} %>
			<%= f.button :submit, class: "btn btn-info"%>
		<% end %>
	</div>
</div>