<div class="photo">
	<p><%= photo.title %></p>
	<p><%= photo.description %></p>

	<% if user_signed_in? %>
		<% if album.user_id == current_user.id %>
			<div>
				<%= link_to "Edit", edit_album_photo_path(photo.album, photo), class: "btn btn-info" %>
				<%= link_to "Delete", album_photo_path(photo.album, photo), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-info" %>
				
			</div>
		<% end %>
	<% end %>
</div>