<h1> Photo Gallery</h1>
	<div class="row">
		<% @photos.each do |photo| %>
			<div class="col-md-4 col-sm-6">
				<%= link_to image_tag(photo.avatar.thumb.url, alt:'Photo', class: "photo"), album_photo_path(album_id: @album.id, id: photo.id) if photo.avatar? %>
			</div>
		<% end %>	
	</div>	
		




